@model IEnumerable<Contact>

@foreach (var item in Model)
{
	<a class="contact-div" asp-action="ShowContactCard" asp-controller="Contacts" asp-route-id=@item.Id>
		<div class="contactsPage" id="@item.Id" action="Details">
			<div class="contact">
				<p id="nameID">@item.Name</p>
				<p id="emailID">@item.Email</p>
				<p id="mobileID">@item.Mobile</p>
			</div>
		</div>
	</a>
}
